# Exemplo de variáveis de ambiente para o FrontEnd Next.js
DATABASE_URL="mongodb+srv://<user>:<password>@cluster0.mongodb.net/mydb?retryWrites=true&w=majority"
JWT_SECRET="troque_esta_chave_por_uma_senha_forte"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
